{% extends 'base.html.twig' %}

{% block title %}{{ someVariable }}{% endblock %}

{% block body %}
  Veikia


{#    <div class="nfq-academy">{{ someVariable }}</div>#}
    <a href="{{ path('test_index') }}">CRUD test</a>
{% endblock %}
